<!-- {% include "header.html" %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issey Personal Portfolio Website</title>
</head>  
<body>
    <nav class="navbar">
        <ul>
            <li><a href='{{ url_for("main_bp.home") }}'>Home</a></li>
            <li><a href='{{ url_for("main_bp.about") }}'>About</a></li>
            <li><a href='{{ url_for("main_bp.projects") }}'>Projects</a></li>
            <li><a href='{{ url_for("main_bp.contact") }}'>Contact</a></li>
        </ul>
    </nav> 
    <header>
        <h1>About Me</h1>
    </header>
    <main>
        <p>I began my programming journey later than others. I discovered my love for 
            technology and, more specifically, programming as I was applying to medical schools.
            Thus, I made a decision to commit head-on into a big career path change.
            I am fully committed to my transition and I am confident in my abilities and my passion.
        </p>
        <p>
            I also enjoy playing sports like soccer, football, and pickleball. I enjoy reading. And I love traveling.
        </p>
    </main>
</body>  
</html>