<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issey Personal Portfolio Website</title>
</head>  
<body>
    <nav class="navbar">
        <ul>
            <li><a href='{{ url_for("home") }}'>Home</a></li>
            <li><a href='{{ url_for("about") }}'>About</a></li>
            <li><a href='{{ url_for("projects") }}'>Projects</a></li>
            <li><a href='{{ url_for("contact") }}'>Contact</a></li>
        </ul>
    </nav> 
    <header>
        <h1>Issey Suzuki</h1>
    </header>
    <main>
        <p>This is my first attempt at a personal website.</p>
        <h2>Quote of the Day</h2>
        <p>sdhosh</p>
    </main>
</body>  
</html>